# Chapter 19: The Goodies

This is Chapter 19: The Goodies. Topics on how to write more concise, readable or efficient code include:
* Conditional expressions
* List comprehensions
* Generator expressions
* `any` and `all`
* Named tuples. The return value from namedtuple is a class object
* a function that gathers its arguments into a tuple (`**kwargs` or `*args`)

In [13]:
import math

### Conditional expressions

In [14]:
# long format
x = 1
if x > 0:
    y = math.exp(x)
else:
    y = float("nan")

In [15]:
y

2.718281828459045

In [16]:
# short format
y = math.exp(x) if x > 0 else float("nan")

In [17]:
y

2.718281828459045

In [20]:
# long format
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [23]:
factorial(3)

6

In [29]:
# short format
def factorial2(n):
    return 1 if n == 0 else n * factorial(n-1)

In [30]:
factorial2(3)

6

### List Expressions

In [32]:
# long format
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res

In [39]:
my_word = "apPreHenSion"
capitalize_all(my_word)

['A', 'P', 'P', 'R', 'E', 'H', 'E', 'N', 'S', 'I', 'O', 'N']

In [40]:
# short
def capitalize_all2(t):
    return [s.capitalize() for s in t]

In [41]:
capitalize_all2(my_word)

['A', 'P', 'P', 'R', 'E', 'H', 'E', 'N', 'S', 'I', 'O', 'N']

In [42]:
# long
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res

In [43]:
only_upper(my_word)

['P', 'H', 'S']

In [48]:
def only_upper2(t):
    return [s for s in t if s.isupper()]

In [49]:
only_upper2(my_word)

['P', 'H', 'S']

### Generator expression

In [51]:
g = (x**2 for x in range(5))
g

In [52]:
next(g)

0

In [53]:
sum(g)

30

### `any` and `all`

In [57]:
any([False, False, True, False, False])

True

In [59]:
any(letter == "n" for letter in my_word)

True

In [60]:
all(letter == "n" for letter in my_word)

False

### Sets

In [65]:
# long
def subtract(d1, d2):
    res = dict()
    for key in d1:
        if key not in d2:
            res[key] = None
    return res

In [67]:
subtract(my_word, my_word)

{}

In [69]:
# short 
def subtract2(d1, d2):
    return set(d1) - set(d2)

In [70]:
subtract2(my_word, my_word)

set()

### Counters

In [73]:
from collections import Counter
count = Counter(my_word)
count

Counter({'H': 1,
         'P': 1,
         'S': 1,
         'a': 1,
         'e': 2,
         'i': 1,
         'n': 2,
         'o': 1,
         'p': 1,
         'r': 1})

In [74]:
count.most_common(2)

[('e', 2), ('n', 2)]

In [78]:
for val, freq in count.most_common(2):
    print(val, freq)

e 2
n 2

### defaultdict

In [82]:
from collections import defaultdict
d = defaultdict(list)

In [83]:
d

defaultdict(list, {})

### Named tuples

In [84]:
# long
class Point:

    def __init__(self, x=0, y=0):
        self.x = x
        self.y = y

    def __str__(self):
        return '(%g, %g)' % (self.x, self.y)

In [88]:
# short
from collections import namedtuple
Point = namedtuple(typename= "Point", field_names=["x", "y"])

In [91]:
Point

__main__.Point

In [92]:
p = Point(0, 0)
p

Point(x=0, y=0)

### Gathering keyword args

In [93]:
def printall(*args):
    print(args)

In [94]:
printall(my_word)

('apPreHenSion',)

In [96]:
def printall2(*args, **kwargs):
    print(args, kwargs)

In [97]:
printall2(1, 2.0, third = "food")

(1, 2.0) {'third': 'food'}

In [98]:
d = dict(x = 20, y = 30)

In [102]:
Points(**d)

Point(x=20, y=30)